* {
  padding: 0;
  margin: 0;
}
body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-image:url(../../bosque.png);
color: rgb(255, 255, 255);
margin: 0;
}
header{
background: rgba(0, 0, 0, 0.692);
padding: 0.7rem 0rem;
color: white;
width: 100%;
}  
.barraa {
position: relative;
top: 527px;
left: 0%;
background: rgba(0, 0, 0, 0.692);
padding: 0.7rem 0rem;
color: white;
width: 100%;
clear: both;
display: table;
content: " ";
position: fixed;
}
#ladod {
padding-top: 0px;
float: right;
width: 300px;
font-size: 20px;   
line-height: 1.5;
list-style: none;
}
#barra li{
background-color: rgba(0, 0, 0, 0.233);
padding: 0rem 0rem;
border-radius: 15px;
}
nav ul li{
list-style: none;
margin-left: 40px;
float: left;
padding: 20px 0;
}
nav ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 20px;
transition: all 0.5s ease;
}
nav li a:hover{
padding: 1px 10px;
color: white;
background: rgba(0, 0, 0, 0.692);
border-radius: 15px;
} 
/*Titulos*/
article h1 {
  color: black;
  padding-left: 320px ;
  width: 800px;
  height: 50px;
  text-align: center;
  } 


  
article p {
  color: black;
  font-size: 20px;
    padding-left: 320px ;
    width: 800px;
    height: 50px;
    text-align: center;
  } 
/*Cuestion*/
.cuestion{
  line-height: 30px;
  padding: 10px;
  font-size: 20px;
}
.encuesta{
  position: relative;
  top:10px;
  left: 35%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.466);
  width: 500px;
  height: 950px;
}

input{
  text-align: center;
}
/*Extrellas*/

.form p {
  text-align: center;
}

.form label {
  font-size: 20px;
  
}

.input[type="radio"] {
  display: none;
}

.label {
  padding: 0px;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.clasificacion {
  
  direction: rtl;
  unicode-bidi: bidi-override;
}

.label:hover,
.label:hover ~ label {
  color: orange;
}

.input[type="radio"]:checked ~ label {
  color: orange;
}


.boton{
  font-size: 20px;
  color:white;
  background-color: #32aa426e;
  text-align: center;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
  width: 100%;
}