body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #0e0e0e;

    margin: 0;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;

    background-image: url(../bosque.png);
    background-position: center;
   
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#8eff7a;
    text-align: center;
    margin-bottom: 20px;
}

#Registro {
    width: 500px;
    margin: -70px;
    padding: 30px 30px;
    background-color: #00000098;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#Registro input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#Registro input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #a7a4a4;
}

#Registro button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    width: 100%;
    height: 40px;
    border: none;
    list-style: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #32aa426e;
    
    margin-top: 10px;
}
#Registro button a{
    text-decoration: none;
    color: #fcf7f7;
}
#Registro button:hover {
    background-color: #375c30c2;
    color:#039e10;
}

.pie-form {
    color: #ffffff;
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #ffffff;
}

.inferior {
    margin-top: 1px;
    font-size: 90%;
}

.inferior a {
    text-decoration: none;
    color: #ffffff;
    background: #375c30c2;
    padding: 5px;
    border-radius: 10px;
}

.inferior a:hover {
    background-color: #375c30c2;;
    padding: 1rem 1rem;
    border-radius: 15px;
}

